<h1><%= @department.name %> <%= @item.name %></h1>
<%= link_to 'Create Item', new_department_item_path(@department) %>
<%= link_to 'Edit Item', edit_department_item_path(@department, @item) %>
<%= link_to 'Delete Item', [@department, @item], method: :delete %>
<%= link_to 'Back To Item', department_item_path(@department, @item) %>
